POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# --- 2. URL de Conexión para Python (Usada por el contenedor 'app') ---
# Nota: El HOST es 'db' (el nombre del servicio) y el puerto es 5432 (el interno de Postgres).
DATABASE_URL=
# Define el número máximo de páginas a descargar de la API para pruebas.
RM_PAGES=